header {
    display: flex;
    min-height: 70px;
    background-color: #451260;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: black;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: black;
}

nav a {
    padding-right: 10px;
}

nav a:hover {
    color: black;
}

nav ion-icon {
    font-size: 30px; 
}
table, th, td {

    border: 5px solid blueviolet;
}

.color {
    color: blueviolet;
}

.color {
 
    border-style: outset;
    border-color:blueviolet;
    border-radius: 10px;
    border-width: 5px;

    background-color: black;
}



table {

     width: 100%;

     border-collapse: collapse;
}

th, td { 

    border: solid 1px black;
    padding: 5px;
    
}


th {
 
    background-color: white;
    color: blueviolet;
    text-align: left;
}

    tr:hover{
    background-color: #929292;
    cursor: pointer;

}


tr:nth-child(even){

background-color: #dddddd;

}


.color  { 

    display: inline;

}

